* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.navbar {
  background-color: #d1cfe9;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.login-container {
  display: none;
  max-width: 400px;
  margin: 0 auto;
  background-color:#d1cfe9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.show-login {
  display: block;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color:#f3a6f5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color:#d1c0d1;
}

.or {
  margin: 20px 0;
}

.social-login button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-login button:hover {
  filter: brightness(1.1);
}

.signup-link {
  margin-top: 20px;
}

.signup-link a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}

.signup-container {
  display: none;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.show-signup {
  display: block;
}
